name: Build

on: 
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch: # Позволяет запустить сборку вручную кнопкой

jobs:
  build-linux:
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: true

    - name: Install dependencies
      run: |
        sudo apt-get update -y
        sudo apt-get install -y pkg-config cmake ninja-build libfreetype6-dev libcurl4-openssl-dev libsqlite3-dev libpng-dev libsdl2-dev

    - name: Configure CMake
      run: |
        mkdir build
        cd build
        cmake -G Ninja -DCMAKE_BUILD_TYPE=Release ..

    - name: Build
      run: |
        cd build
        ninja everything

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: F-DDrace-Server-Ubuntu-20.04
        path: build/teeworlds_srv
